<head>
  <title>Uzduotis 1</title>
</head>

<body>
  <h1>Main heading</h1>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque eius tenetur
    quae magni exercitationem soluta, expedita aliquid nobis voluptatem.
    Quibusdam minima incidunt obcaecati explicabo aspernatur quo iste recusandae
    eos ex?
  </p>

  <h2>Sub1 heading</h2>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem laborum
    error necessitatibus excepturi sapiente repellat, quam ea numquam adipisci?
    Voluptates quis eius sequi aperiam nostrum consequatur quod eos eaque
    aliquam.
  </p>

  <h2>Sub2 heading</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic voluptatem at
    magni officiis neque error aut eum quaerat reiciendis quo rerum dolorem
    quidem, dicta facilis obcaecati architecto similique. Aspernatur, magnam!
  </p>
</body>
