.title span{
color: orange;
}
.title{
    font-family:Arial, Helvetica, sans-serif;
}
.title{
    border: 7px solid rgb(202, 200, 200);
    width: 300px;
    display: flex;
    justify-content: center;
}

.bottom{
  margin-left: 2px;
}