.forma {
  width: 50%;
  padding: 20px 25px 10px 20px;
  margin: 20px;
  background-color: #f2f2f2;
  font-family: "Times New Roman", Times, serif;
}
.forma input {
  width: 100%;
  margin-bottom: 15px;
  margin-top: 15px;
  border-color: #f2f2f2;
}
.label {
  margin-bottom: 50px;
}
.d-flex {
  display: flex;
  border: blue;
}
.justify-content-center {
  justify-content: center;
}
button {
  border-color: rgb(92, 92, 255);
  block-size: d-flex;
  width: 70px;
  height: 30px;
  border-radius: 8%;
}
