a {
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
}
a:hover {
  color: red;
}
.trys {
  display: flex;
  justify-content: center;
}
.logocontainer {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  margin-bottom: 1em;
}
.meniu {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  border-top: 3px solid black;
  border-bottom: 1px solid black;
}
.specialisation {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.7em;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}
.specialisation p{
    width: 400px;
}
.tryscontainer img {
  max-width: 200px;
}
.www {
    width: 600px;
    margin:auto;
}
.tevas {
    width: 100%;
    border: double;
}