.title {
  padding-left: 20px;
  color: #64645a;
}
.list {
  background-color: #dfdfdf;
  width: 400px;
  border: 15px solid #c0c0c0;
  padding: 10px;
  margin-top: 10px;
  padding: 0px;
}
p {
  margin: 0;
}
.rugstys {
  color: #ffffff;
  border-top: 15px solid #c0c0c0;
}
.sarminiu {
  background-color: #0088dd;
  padding-left: 3px;
}
.trylik {
  background-color: #0095e2;
  padding-left: 3px;
}
.dvylik {
  background-color: #00a0e6;
  padding-left: 3px;
}
.vienuolik {
  background-color: #30aae9;
  padding-left: 3px;
}
.desimt {
  background-color: #54b6ed;
  padding-left: 3px;
}
.devyn {
  background-color: #72c1f0;
  padding-left: 3px;
}
.astuon {
  background-color: #8ccaf2;
  padding-left: 3px;
}
.septyn {
  background-color: #00bb88;
  padding-left: 3px;
}
.sesi {
  background-color: #f5b0cc;
  padding-left: 3px;
}
.penki {
  background-color: #f69fc0;
  padding-left: 3px;
}
.keturi {
  background-color: #f58cb2;
  padding-left: 3px;
}
.trys {
  background-color: #f47ba6;
  padding-left: 3px;
}
.du {
  background-color: #f36a98;
  padding-left: 3px;
}
.vienas {
  background-color: #f45a8b;
  padding-left: 3px;
}
.nulis {
  background-color: #ee3e80;
  padding-left: 3px;
}
